libs/*
/Console/nbproject/private/
/Console/build/
/Console/dist/
/MyFirstProject/nbproject/private/
/MyFirstProject/build/
/MyFirstProject/dist/
/JavaApplication42/nbproject/private/
/JavaApplication42/build/
/HTML5Application/nbproject/private/
/Test/nbproject/private/
/FileUploadTest/nbproject/private/
/FileUploadTest/build/
/SemConsoleWebApp/target/
SemConsoleWebApp/target/classes/.netbeans_automatic_build
SemConsoleWebApp/target/classes/com/mycompany/semconsolewebapp/Console$1.class
SemConsoleWebApp/target/classes/com/mycompany/semconsolewebapp/Console$StereoState.class
SemConsoleWebApp/target/classes/com/mycompany/semconsolewebapp/Console.class
*.class
SemConsoleWebApp/target/test-classes/.netbeans_automatic_build
