libs/*
/Console/nbproject/private/
/Console/build/
/Console/dist/
/semconsolewebapp/target/*
/semconsolewebapp/build/*
/semconsolewebapp/dist/*
/MyFirstProject/nbproject/private/
/MyFirstProject/build/
/MyFirstProject/dist/
/JavaApplication42/nbproject/private/
/JavaApplication42/build/
/HTML5Application/nbproject/private/
/Test/nbproject/private/
/FileUploadTest/nbproject/private/
/FileUploadTest/build/
/SemConsoleWebApp/target/
*.class
SignalFilterTest/nbproject/private/private.properties
SignalFilterTest/nbproject/private/private.properties
SignalFilterTest/nbproject/private/configs/Run_as_WebStart.properties
*.properties
/SignalFilterTest/nbproject/private/
Console/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
Console/lib/nblibraries.properties
Console/nbproject/build-impl.xml
Console/nbproject/genfiles.properties
